
<h4>Search for Shows</h4>
<p>Type a word or title and search it :)</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowSearchResults">  

            <div class="form-group">
                <label for="SearchShow" class="control-label"></label>
                <input name="SearchShow" class="form-control" />                
            </div>

            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowSearchFormActor">

            <div class="form-group">
                <label for="SearchActor" class="control-label"></label>
                <select name="SearchShow" class="form-control" asp-items="ViewBag.ActorListId"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
