@{
    ViewData["Title"] = "Home Page";
}

<section>
    <img src="~/images/home-bg.jpg" class="img-fluid" />
</section>
<section>
    <div class="container text-dark">
        <div class="row">
            <div class="col-12 text-center">
                <br /><h2>Our Features</h2><br />
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 text-center">
                <img width="150" src="~/images/digital-inventory.png" />
                <h4>TvShows Inventory</h4>
                <br />
                <a class="nav-link btn btn-dark" href='/UserViews'>Know more ></a>
                <br />
            </div>
            <div class="col-md-4 text-center">
                <img width="150" src="~/images/search-online.png" />
                <h4>Search TvShows</h4>
                <br />
                <a class="nav-link btn btn-dark" href='/UserViews'>Know more ></a>
                <br />
            </div>
            <div class="col-md-4 text-center">
                <img width="150" src="~/images/defaulters-list.png" />
                <h4>Know the actors!</h4>
                <br />
                <a class="nav-link btn btn-dark" href='#'>Know more ></a>
                <br />
            </div>
        </div>
    </div>
</section>
<section>
    <img src="~/images/in-homepage-banner.jpg" class="img-fluid" />
</section>
<section>
    <div class="container text-dark">
        <div class="row">
            <div class="col-12 text-center">
                <br /><h2>Our Process</h2><br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <img width="150" src="~/images/sign-up.png" />
                <h4>Sign Up</h4>
                <br />
                <a class="nav-link btn btn-dark" href='/Identity/Account/Register'>Go ></a>
                <br />
            </div>
            <div class="col-md-4 text-center">
                <img width="150" src="~/images/search-online2.png" />
                <h4>Find TvShows</h4>
                <br />
                <a class="nav-link btn btn-dark" href='/UserViews'>Go ></a>
                <br />
            </div>
            <div class="col-md-4 text-center">
                <img width="150" src="~/images/visit-us.png" />
                <h4>Visit Us</h4>
                <br />
                <a class="nav-link btn btn-dark" href='/Home/About'>Go ></a>
                <br />
            </div>
        </div>
    </div>
    <br /><br />
</section>