
@model Microsoft.AspNetCore.Identity.IdentityRole
@{
    ViewData["Title"] = "PRIVATE AREA";
}
<br />
<h1 class="text-center">ADMIN AREA</h1>
<h3 class="text-center">here, you're God :)</h3>
<hr />


<section>
    <div class="container text-dark">


        <div class="row">
            <div class="col-md-4 text-center">
                <img width="150" src="~/images/digital-inventory.png" />
                <h4>Edit info about TVSHOWS</h4>
                <br />
                <a class="nav-link btn btn-dark" href='/Shows'>Let's GO ></a>
                <br />
            </div>
            <div class="col-md-4 text-center">
                <img width="150" src="~/images/search-online.png" />
                <h4>Edit info about SEASONS</h4>
                <br />
                <a class="nav-link btn btn-dark" href='/Seasons'>Let's GO ></a>
                <br />
            </div>
            <div class="col-md-4 text-center">
                <img width="150" src="~/images/defaulters-list.png" />
                <h4>Edit info about EPISODES</h4>
                <br />
                <a class="nav-link btn btn-dark" href='/Episodes'>Let's GO ></a>
                <br />
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container text-dark">
        <div class="row">
            <div class="col-md-4 text-center">
                <img width="150" src="~/images/sign-up.png" />
                <h4>Edit info about ACTORS</h4>
                <br />
                <a class="nav-link btn btn-dark" href='/ActorsLists'>Let's GO ></a>
                <br />
            </div>
            <div class="col-md-4 text-center">
                <img width="150" src="~/images/search-online2.png" />
                <h4>Add UserRoles Names</h4>
                <br />
                <a class="nav-link btn btn-dark" href='/Role/Create'>Let's GO ></a>
                <br />
            </div>
            <div class="col-md-4 text-center">
                <img width="150" src="~/images/visit-us.png" />
                <h4>Edit info about GENRES</h4>
                <br />
                <a class="nav-link btn btn-dark" href='/Genres'>Let's GO ></a>
                <br />
            </div>
        </div>
    </div>
    <br /><br />
</section>